@mixin more_link {
        text-transform: uppercase;
        background: transparent url(../../img/svg/Shape_benefit.svg) no-repeat 95% 15px;
        text-decoration: none;
        padding: 10px 70px 20px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        color: #006DFE;

      &:hover, &:visited {
        color: #1a4e92;
        background: transparent url(../../img/svg/Shape_benefit.svg) no-repeat 100% 15px;
        transition: 0.2s all;
      }
}
@mixin more_link-2 {
  text-transform: uppercase;
  background-color: #006DFE;
  text-decoration: none;
  padding: 10px 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 150% */
  color: #ffffff;

&:hover, &:visited {
  background-color: #2f74ce;
  transition: 0.2s all;
}
}