@mixin icon-social {
    text-transform: uppercase;
    background-color: transparent;
background-position-x: 95%;
background-position-y: 60%;
background-repeat: no-repeat;
background-attachment: scroll;
@content;
    text-decoration: none;
    padding: 5px 25px 5px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #ebebeb;

}